body {
    overflow:hidden;
    font-family: 'Swanky and Moo Moo', cursive;
    background-image: url("bg.png");

    background-repeat: repeat;
}

#bottom
{
    pointer-events: none;
    background-image: url("box-bg.png");
    background-size: 1280px, 652px;
    margin: 0 auto;
    position: relative;
    top: -650px;
    left: 86px;
    height: 650px;
    background-repeat: no-repeat;
    background-size: 1280px, 650px;
}

#top
{
    height: 200px;
}




