body {
    /*overflow:hidden;*/
    font-family: 'Swanky and Moo Moo', cursive;
    background-image: url("bg.png");

    background-repeat: repeat;
}

#bottom
{
    pointer-events: none;
    background-image: url("box-bg.png");

    position: fixed;
    height: 650px;
    width: 1280px;

    left: 50%;
    margin-left: -640px; /* Half of the width */


    background-repeat: no-repeat;
}

#top
{
    height: 30px;
}

#content
{
    position: fixed;
    left: 50%;
    margin-left: -640px; /* Half of the width */
}

#infolink
{
    display: none;
    /*background-color: antiquewhite;
    /*font-family: 'Arial';*/
    font-size: 40px;
    position: fixed;
    height: 650px;
    width: 1280px;

    left: 50%;
    margin-left: -640px; /* Half of the width */


}

#infolinkinner
{
    width: 150px;
    height: 120px;

    padding-left: 84%;
    padding-top: 39.5%;

}

#infolink img
{

    max-width:100%;
    max-height:100%;
}

a
{
    outline: 0;
}

/* unvisited link */
a:link {
    color: #003a00;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #003a00;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #003a00;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #003a00;
    text-decoration: none;
}





