body {
    /*overflow:hidden;*/
    font-family: 'Love Ya Like A Sister', cursive;
    /*background-image: url("bg.png");*/
    background-color: #7b9f2e;

    background-repeat: repeat;
}

/* love-ya-like-a-sister-regular - latin */
@font-face {
  font-family: 'Love Ya Like A Sister';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/love-ya-like-a-sister-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Love Ya Like A Sister Regular'), local('LoveYaLikeASister-Regular'),
       url('../fonts/love-ya-like-a-sister-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/love-ya-like-a-sister-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/love-ya-like-a-sister-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/love-ya-like-a-sister-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/love-ya-like-a-sister-v7-latin-regular.svg#LoveYaLikeASister') format('svg'); /* Legacy iOS */
}

#bottom
{
    pointer-events: none;
    background-image: url("hg_small.png");

    position: fixed;
    height: 654px;
    width: 1280px;

    left: 50%;
    margin-left: -640px; /* Half of the width */


    background-repeat: no-repeat;
}

#top
{
    height: 30px;
}

#content
{
    position: fixed;
    left: 50%;
    margin-left: -640px; /* Half of the width */
}

#infolink
{
    display: none;
    /*background-color: antiquewhite;
    /*font-family: 'Arial';*/
    font-size: 40px;
    position: fixed;
    height: 654px;
    width: 1280px;

    left: 50%;
    margin-left: -640px; /* Half of the width */


}

#infolinkinner
{
    width: 150px;
    height: 120px;

    padding-right: 71%;
    padding-top: 36%;

}

#infolink img
{

    max-width:100%;
    max-height:100%;
}

a
{
    outline: 0;
}

/* unvisited link */
a:link {
    color: #003a00;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #003a00;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #003a00;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #003a00;
    text-decoration: none;
}





